.x-button ,.x-toolbar .x-segmentedbutton .x-first,.x-segmentedbutton .x-first,.x-toolbar .x-segmentedbutton .x-last, .x-segmentedbutton .x-last{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	border-color: #F3F6F8;
	border: 0px solid #157efb !important;
}
.x-toolbar {
	background-color: rgba(107, 107, 100, 0.22);
}
.call_title_segment{
	border-radius: 6px;
	border:1px solid #157efb !important;
}
.contact_search{
	background-color: rgba(107, 107, 100, 0.22);
}
.contact_search_btn{
	border:1px solid #157efb !important;
	border-radius: 6px;
	margin:5px 10px;
}
.seg_btn .x-button-icon{
	font-size:17px
}
.seg_btn .x-button-normal .x-button-label{
	margin-top:5px;
	font-size:10px;
	margin-bottom:5px;
}